---
import Button from "src/components/Button.astro"
import CardService from "src/components/CardService.astro"
import CardWorks from "src/components/CardWorks.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Button title="Boton"/>
		<CardService title="titulo" description="desc"/>
		<CardWorks title="titulo" image="images/work1.jpg" description="desc"/>
		
	</body>
</html>
