---
import Menu from "src/components/Menu.astro";
import TitlePage from "src/components/TitlePage.astro";
import CardWorks from "src/components/CardWorks.astro";
import Button from "src/components/Button.astro";
---

<Menu />

<section class="bg-gray-200 py-20 px-8">
    <div class="max-w-6xl mx-auto">
        <TitlePage title="Works" subtitle="Some of my projects" />
        <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-14">
            
            <CardWorks image="images/work1.jpg" title="Work1" description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit sint quasierror et, ex corporis. Ipsa sint, mollitia nostrum itaque saepe optio repellat esse, quaerat molestias blanditiis ipsam, illo iste?">
            <Button title="View Project" />
            </CardWorks>

            <CardWorks image="images/work2.jpg" title="Work2" description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit sint quasierror et, ex corporis. Ipsa sint, mollitia nostrum itaque saepe optio repellat esse, quaerat molestias blanditiis ipsam, illo iste?">
            <Button title="View Project" />
            </CardWorks>
        </div>
    </div>
</section>


